<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sg.edu.np.mad.devent">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/playstore"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DEvent"
        tools:targetApi="31">
        <activity
            android:name=".change_password"
            android:exported="false"
            android:label="@string/title_activity_change_password"
            android:theme="@style/Theme.DEvent.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserBooking"
            android:exported="false" />
        <activity
            android:name=".Change_ProfilePic"
            android:exported="false"
            android:parentActivityName=".Settings" />
        <activity
            android:name=".Settings"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".profile_page" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".loginpage"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EventDetailsPage"
            android:exported="false" />
        <activity
            android:name=".profile_page"
            android:exported="false"
            android:parentActivityName=".NavDrawer" />
        <activity
            android:name=".EditDescription"
            android:exported="false" />
        <activity
            android:name=".NavDrawer"
            android:exported="false"
            android:label="@string/title_activity_nav_drawer"
            android:theme="@style/Theme.DEvent.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".EventFormActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
    </application>

</manifest>